body {
    background :url(favour/image/dennis3.JPG);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;

}







