body {
    background-color: blue;
    background: coral;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.test-box{
    border-bottom: 10px rgb(150, 255, 80);
    border-top: 6px rgb(220, 242, 255);
    border-left: 4px cyan;
    border-right: 6px darkgray;
    text-align: left;
    padding: 4px;
    margin: 12px;
    background-color: darkorange;
    text-decoration: darkorchid;
    text-overflow: ellipsis;

}
.background{
    background-color: rgb(122, 50, 204);
    color: darkturquoise;
}























