body {
    background-color: blue;
    background: coral;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.test-box{
    border-bottom: 10px rgb(150, 255, 80);
    border-top: 6px rgb(220, 242, 255);
    border-left: 4px cyan;
    border-right: 6px darkgray;
    text-align: left;
    padding: 4px;
    margin: 12px;
    background-color: darkorange;
    text-decoration: darkorchid;
    text-overflow: ellipsis;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 120;
    color: black;

}
.background{
    background-color: gainsboro;
    color: rgb(0, 108, 209);
    font-style: oblique;
}
h1 { 
    font-family: serif;
    font-style: normal;
    font-size: 120%;
    text-decoration-line: underline;
    color: cyan;
    font-weight: bold;

}
img {
    width: 30%;
    height: 10%;
    float: none;
    border-radius: 50%;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a {
    font-family: sans-serif;
    text-align: left;
    font-style: italic;
    color: rgba(255, 0, 200, 0.61);
}
ol {
    text-align: left;
    font-style: italic;

}
h3 {
    font-weight: bold;
    text-overflow: ellipsis;

}

}






















